@model IEnumerable<EquipasMembros.Models.Membro>
<br />
<br />

<h2>Filtrar Nome dos Membros</h2>


@using (Html.BeginForm())
{
    @Html.TextBox("S")
    <input type="submit" value="OK" />
}


@foreach (var item in Model)
{
    @item.NomeMembro
    <br />

}

