@using EquipasMembros.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>Listagem das Equipas</h4>

@foreach (var item in (List<Equipa>)ViewBag.ListaDasEquipas)
{
    @item.NomeEquipa
<br />
}

<hr />

<h4>Listagem dos Membros Atuais</h4>
@foreach (var item in (List<Membro>)ViewBag.Membros)
{
    @:&nbsp- @item.NomeMembro
}